.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
            "header header header"
            "nav content content"
            "foot foot foot";


    grid-template-rows: 100px 1fr 30px;
    grid-template-columns: 2fr 10fr;

    grid-gap: 5px;
}

.app-wrapper-content {
    grid-area: content;
    background-color: cornflowerblue;
}